
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/your-name/" method = "post">
        
        <!-- 1 -->
        <div class="form-group">
            <label for="formControlRange">Question 1</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q1">
        </div>

        <!-- 2 -->
        <div class="form-group">
            <label for="formControlRange">Question 2</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q2">
        </div>

        <!-- 3 -->
        <div class="form-group">
            <label for="formControlRange">Question 3</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q3">
        </div>

        <!-- 4 -->
        <div class="form-group">
            <label for="formControlRange">Question 4</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q4">
        </div>

        <!-- 5 -->
        <div class="form-group">
            <label for="formControlRange">Question 5</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q5">
        </div>

        <!-- 6 -->
        <div class="form-group">
            <label for="formControlRange">Question 6</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q6">
        </div>

        <!-- 7 -->
        <div class="form-group">
            <label for="formControlRange">Question 7</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q7">
        </div>

        <!-- 8 -->
        <div class="form-group">
            <label for="formControlRange">Question 8</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q8">
        </div>

        <!-- 9 -->
        <div class="form-group">
            <label for="formControlRange">Question 9</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q9">
        </div>

        <!-- 10 -->
        <div class="form-group">
            <label for="formControlRange">Question 10</label>
            <input type="range" class="form-control-range" id="formControlRange" name="q10">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
</body>
</html>